.loader-circle {
  position: fixed;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -100px;
  margin-left: -100px;
  width: 180px;
  height: 180px;
  border: 10px inset rgb(133 224 242);
  border-radius: 200px;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  animation: rotate 5s infinitelinear;
  animation: rotate 5s infinite linear;
  animation: rotate 5s infinite linear;
}
.loader-circle-small {
  position: fixed;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -81px;
  margin-left: -81px;
  width: 150px;
  height: 150px;
  border: 6px outset rgb(133 224 242);
  border-radius: 156px;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  animation: rotate-rev 3s infinite linear;
  animation: rotate-rev 3s infinite linear;
  animation: rotate-rev 3s infinite linear;
}
.loader-circle-big {
  position: fixed;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -109px;
  margin-left: -109px;
  width: 210px;
  height: 210px;
  border: 4px dotted rgb(133 224 242);
  border-radius: 214px;
  animation: rotate-rev 10s infinite linear;
  animation: rotate-rev 10s infinite linear;
  animation: rotate-rev 10s infinite linear;
}
.loader-circle-inner {
  position: fixed;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -40px;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  background-color: rgb(133 224 242);
  border-radius: 80px;
  opacity: 1;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  animation: pulse 1.5s infinite ease-in;
  animation: pulse 1.5s infinite ease-in;
  animation: pulse 1.5s infinite ease-in;
}
.loader-circle-inner-inner {
  position: fixed;
  top: 50%;
  left: 50%;
  display: block;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  background-color: rgb(74 124 134);
  border-radius: 100px;
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  animation: pulse 1.5s infinite ease-in;
  animation: pulse 1.5s infinite ease-in;
  animation: pulse 1.5s infinite ease-in;
}


/* ==============ANIMATIONS================= */

/* ==============ROTATE===================== */

@keyframes rotate {
0% {transform: rotate(0deg);}
100% {transform: rotate(360deg);}
}

@keyframes rotate {
0% {transform: rotate(0deg);}
100% {transform: rotate(360deg);}
}

@keyframes rotate {
0% {transform: rotate(0deg);}
100% {transform: rotate(360deg);}
}

/* ==============ROTATE-REV================= */

@keyframes rotate-rev {
0% {transform: rotate(0deg);}
100% {transform: rotate(-360deg);}
}

@keyframes rotate-rev {
0% {transform: rotate(0deg);}
100% {transform: rotate(-360deg);}
}

@keyframes rotate-rev {
0% {transform: rotate(0deg);}
100% {transform: rotate(-360deg);}
}

/* ==============PULSE====================== */

@keyframes pulse {
0% {
      transform: scale(0.1);
      opacity: 0.2;
  }
50% {
      transform: scale(1);
      opacity: 0.8;
  }
  100% {
      transform: scale(0.1);
      opacity: 0.2;
  }
}

@keyframes pulse {
0% {
      transform: scale(0.1);
      opacity: 0.2;
  }
50% {
      transform: scale(1);
      opacity: 0.8;
  }
  100% {
      transform: scale(0.1);
      opacity: 0.2;
  }
}

@keyframes pulse {
0% {
      transform: scale(0.1);
      opacity: 0.2;
  }
50% {
      transform: scale(1);
      opacity: 0.8;
  }
100% {
      transform: scale(0.1);
      opacity: 0.2;
  }
}